html, body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
 /* width: 100vh;
    height: 100vh;*/
    max-height: 768px; 
    max-width: 1024px;
}
